.container{
    background-color: black;
    display: grid;
    grid-template-columns: 22.22px 77.77px;
    grid-template-rows: 44.44px 33.33px 22.22px;
    
}
.box__one {
    background-color: yellow;
    justify-self: stretch;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.box__two{
    background-color: red;
    justify-self: stretch;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-start: 3;
}
.box__three{
    background-color: grey;
   justify-self: stretch;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-start: 3;
}

.box__four{
    background-color: blue;
   justify-self: stretch;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-start: 4;
}

.box__five{
    background-color: grey;
    justify-self: stretch;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-start: 4;
}
.box__six{
    background-color: grey;
    justify-self: stretch;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-start: 4;
                       
}