.background
    height: 300px
    width: 300px
    background-color: black
    position: relative
    display: grid
    grid-template-columns: 100px 100px 100px
    grid-template-rows: 100px 100px 100px

    &__squareYellow
        height: 140px
        width: 75px
        background-color: yellow
        position: absolute

    &__squareWhite
        height: 75px
        width: 75px
        background-color: white
        position: absolute

    &__squareBlue
        height: 43px
        width: 75px
        background-color: blue
        position: absolute

    &__squareRed
        display: grid
        position: absolute
        height: 227px
        width: 194px
        background-color: red

    &__rectangleWhite
        height: 43px
        width: 135px
        background-color: white
        position: absolute

    &__squareWhiteLittle
        height: 43px
        width: 50px
        background-color: white
        position: absolute
